@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto 120px;
    height: 600px;
}

.banner-text {
    text-align: center;
}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/bannerimage.png');
}

.banner-text h3 {
    padding-top: 177px;
    margin-bottom: 16px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}

.text {
    padding: 0 608px;

}

.discount {
    padding: 0 399px 0;
    margin-bottom: 120px
}

.text h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contain {
    margin-bottom: 0;
}

/* my third */
.my-third button {
    border: 0;
    color: white;
    background: transparent;
    padding-left: 158px;
    font-family: Inter;
    font-size: 20px;
}

.my-third {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto 120px;
    height: 600px;
}

.my-banner-text {
    text-align: left;

}

.my-banner {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/vector.png');
    height: 600px;
}

.three {
    display: flex;
}

.three .my-img {
    padding: 68px 138px 0;
}

.my-banner-text {
    max-width: 575px;
}

.my-banner-text h3 {
    padding: 126px 0 0 126px;
    margin: 0 0 26px 0;
    color: #FFF;
    font-family: Merriweather;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.my-third .my-banner-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    /* 166.667% */
    padding-left: 126px;
}

.my-fourth {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto 100px;
    height: 482px;
}

.fourth-banner {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 482px;
}

.fourth-banner-text .o span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.fourth-banner-text .o {
    color: #070211;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.fourth-banner-text {
    padding: 100px 386px 0;
}

.my-fourth button {
    margin-top: 48px;
    border-radius: 8px;
    background: #F00;
    border-left: 576px;
}

.my-fourth .btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    padding: 16px 32px;
}

.my-fifth {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto 100px;
}

.fifth-heading .para {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 120px;
}

.fifth-heading h3 {
    font-family: Merriweather;
    font-size: 38px;
    font-style: normal;
    font-weight: 740;
    line-height: normal;
    text-transform: capitalize;
}

.fifth-heading p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 48px;

}

.fifth-one {
    display: flex;
    gap: 5px;
}

.fifth-two {
    display: flex;
    gap: 5px;
}

.image-section img {
    margin-bottom: 20px;
    width: 410px;
}

.image-section img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    border: 3px solid rgb(0, 64, 255);
    border-radius: 16px;
}

.my-sixth {
    width: 82.5%;
    max-width: 1320px;
    margin: 50px auto 100px;
}

.sixth-banner {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.sixth-banner-text {
    padding-top: 80px;
}

.sixth-banner-text h3 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
}

.sixth-banner-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.my-sixth button {
    margin-bottom: 80px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: 0;
    padding: 18px 56px 19px;
}

.my-sixth input {
    border-radius: 50px 0 0 50px;
    background: #FFF;
    padding: 24px 300px 20px 30px;
    border: 0;
    outline: 0;
}

.foot {
    background: #070211;
}

.foot-container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.icon {
    text-align: center;
    margin: 48px 24px 48px 0;
}

.foot .a {
    display: flex;
    justify-content: space-between;
}

.foot .b {
    display: flex;
    justify-content: space-between;
}

.leftupone {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-top: 120px;
}

.rightupone {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
    margin-top: 120px;
}

.leftdownone {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 50px;
}

.rightdownone {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 120px;
    margin-top: 50px;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    opacity: 0.5;
}

hr:hover {
    transform: scale(1.1);
    opacity: 0.8;
    border: 1px solid rgb(0, 64, 255);
}

.bonus-one-container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.contain-item {
    display: flex;
    justify-content: space-between;
}

.middle-img {
    border-radius: 463px;
    padding: 49px;
    border: 15px solid #F00;
}

.left-text .left-p {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 100px;
}

.left-text h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.left-text .amet {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.right-text-img h3 {
    color: #F00;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 100px;
}

.right-text-img p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border-bottom: 40px;
}

.bonus-two {
    margin-top: 120px;
    align-items: center;
    text-align: center;
}

.two-bonus-what {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
}

.bonus-two-container h2 span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 60px;
}

.bonus-two-container h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    margin-bottom: 28px;
    margin-bottom: 16px;
}

.bonus-two-sit {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 64px;
    /* 160% */
}

.bonus-three {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}

.bonus-three-girl {
    text-align: right;
    position: relative;
}

.bonus-three-girl img {
    vertical-align: bottom;
}

.discount-image {
    position: absolute;
    right: 286px;
    bottom: 60px;
}

.bonus-three-main-img {
    position: relative;
}

.bonus-three-main-img .red {
    border-radius: 16px 0px 16px 16px;
    background: #F00;
    width: 100%;
}

.surprise-img {
    position: absolute;
    bottom: 0px;
}